.h2{
    margin-left: 20px;
}

.noChat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    overflow-y: auto;
}


.img{
    width: 250px;
    height: 250px;

}